*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
    background:linear-gradient(to bottom,rgba(62, 62, 65, 0.6),rgba(46, 45, 45, 0.5)), url("../img/login.jpg") center no-repeat;
    background-size: cover;    
}
.box{
    width: 380px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgba(214, 29, 29, 0.7);
    text-align: center;
    border-top-left-radius: 70px;
    border-bottom-right-radius: 70px;
    box-shadow: 0 12px 66px rgba(42, 3, 133, 1);
}
::placeholder{
    color: white;
}
.box h1{
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Ubuntu', sans-serif;
}
.box input[type="email"],.box input[type="password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}
.box input[type="email"]:hover{
    border-left: 25px solid rgb(0, 0, 0);
}
.box input[type="password"]:hover{
    border-right: 25px solid rgb(0, 0, 0);
}
.box input[type="email"]:focus,.box input[type="password"]:focus{
    width: 280px;
    border-color: #2ecc71;
}
.box input[type="submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
.box input[type="submit"]:hover{
    background: #070606;
}